# URI do Mongodb 
DB_URI=

# Segredo JWT para autenticação de usuários
SECRET_JWT=

# ============================================
# Credenciais da API do Brevo. Necessário para o envio dos e-mails.
# https://www.brevo.com/pt/
# ============================================
BREVO_API_KEY=
BREVO_NAME=
BREVO_EMAIL=

# ============================================
# URL e Chave da API do Openinary. 
# https://openinary.dev/
# ============================================
OPENINARY_URL=
OPENINARY_API_KEY=